@font-face {
	font-family: 'proxima_nova_rgregular','proxima_nova_rgbold','adelle_rgregular';
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_nova_rgbold';
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*
body{
	font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
} */

* {
   font-family: 'proxima_nova_rgbold', Helvetica, Arial, sans-serif;
}

.navbar-logo {
    max-width: 140px;
    vertical-align: -webkit-baseline-middle;
    position: relative;
    left: 30px;
}

.profile-img {
    width:35%;
    border: 2px solid white;

}

.profile-img > img {
    border-radius: 50% !important;
    border: 2px solid #007bff
}

.blue {
  color: #4AA0DE;
}

.bg-blue {
  background-color: #4AA0DE;
}

.red {
  color: #EE6763;
}

.bg-red {
  background-color:	#EE6763;
}

.sidebar {
  box-shadow: none !important;
}

.active {
    background: rgba(200, 200, 200, 0.315);
}


.sidebar {
  padding-top: 0px !important;
}

.sidebar-top {
  width: 100%;
  background-color: #4AA0DE;
  text-align: center;
  padding: 20px;
}

.sidebar-top-item {
  display: block;
}

.sidebar-top-h {
  color: white;
  font-size: 2em;
}

.sidebar-sticky {
  padding-top: 0px !important;
}

[role="main"] {
  padding-top: 0px !important;
}

.form-control {
  margin-top: 5px;
  margin-bottom: 5px;
}

button {
  margin: 10px;
}

.nav-link i {
  margin-right: 15px;
  width: 20px;
}


.login-form {
    border: 1px solid black;

}
